<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./css/style.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <title>Edit Schedule</title>
</head>
<body>
  <div class="row" style="margin-left: 10px;"> <h3><i>Hi Store Manager</i></h3>
    <button id='logout' type="button" class="btn btn-danger" style="margin-left: 80%;">Logout</button>
  </div>
<div class="data-form" >
  <form method="POST" action="../../order/getorders/">
    <h2>Edit Schedule:</h2>
    <label for="order_id">Order ID</label>
    <input class="form-control" type="text" name="order_id" id="input_order_id" value="<%=
 result[0].order_id %>" placeholder="<%=
 result[0].order_id %>" autofocus readonly>
    <label for="state">Order State</label>
    <input class="form-control" type="text" name="state" id="input_state" value="<%=
    result[0].state %>" placeholder="<%=
    result[0].state %>" readonly>
    <label for="products">Products</label>
    <%let products = ''%>
    <% result.forEach(function(res){ %>
      <% products += res.product_name + '   ' + res.quantity + '   ' +'\n'; %>
    <% }); %>
 <textarea class="form-control" name="products" id="products" cols="30" rows="4" readonly><%- products %></textarea>
    <label for="delivery_address">Delivery Address</label>
    <input class="form-control" type="text" name="delivery_address" id="input_delivery_address" value="<%=
 result[0].delivery_address %>" placeholder="<%=
 result[0].delivery_address %>" autofocus readonly>
 <label for="route_name">Delivery Route</label>
 <input class="form-control" type="text" name="route_name" id="input_route_name" value="<%=
result[0].route_name %>" placeholder="<%=
result[0].route_name %>" autofocus readonly>
<label for="contact_number">Contact Numbere</label>
<input class="form-control" type="text" name="contact_number" id="input_contact_number" value="<%=
result[0].contact_number %>" placeholder="<%=
result[0].contact_number %>" autofocus readonly>
<label for="route_name">Schedule ID</label>

<select class="form-control" name="schedule_id" id="schedule_id" autofocus>
  
  <% if (result[0].schedule_id) { %>
    <option value="<%= result[0].schedule_id  %>" ><%= result[0].schedule_id %></option>
  <% }; %>

  <% schedule_list.forEach(function(schedule){ %>
    <% if (result[0].schedule_id !== schedule.schedule_id) { %>
    <option value="<%= schedule.schedule_id  %>" ><%= schedule.schedule_id %></option>
    <% }; %>
  <% }); %>

</select>


    <button type="submit">Update</button>
  </form>
</div>
<script>
  const logout = document.getElementById('logout')

  logout.addEventListener('click', () => {
    console.log('logout');
    try {

      fetch("/logout", {
        method: "get",
        mode: 'cors',
        headers: { 'Content-Type': 'application/json' },

      }).then(response => {
        return response.json()
      }).then(data => {
        window.location.href = data.redirect;
      })

    } catch (e) {
      console.log(e)
    }
  })
</script>