<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <title>Truck schedules</title>
</head>
<style>
    .badge-info {
        color: #03a9f4;
        background-color: #000000
    }

    .badge-info[href]:focus,
    .badge-info[href]:hover {
        color: #000000;
        text-decoration: none;
        background-color: #1a43f8
    }

    .badge-light {
        color: #ffdb11;
        background-color: #000000
    }

    .badge-light[href]:focus,
    .badge-light[href]:hover {
        color: #000000;
        text-decoration: none;
        background-color: #03a9f4
    }
</style>

<body>
    <div class="pageTitle">
        <h1 class="col-md-12" style=" font-family: 'Lucida Handwriting';">Route Schedules</h1>
    </div>
    <div class='cartTable'>
        <a href="/storemanager/order/getorders">
            <button type="button" class="btn btn-dark" style="margin-bottom: 10px;margin-left: 10px;">View Orders</button>
        </a>
        <a href="/storemanager/createschedule/createnewschedule">
            <button type="button" class="btn btn-dark" style="margin-bottom: 10px;margin-left: 10px;">Create new schedule</button>
        </a>
        <button id='logout' type="button" class="btn btn-danger" style="margin-bottom: 10px;">Logout</button>

        <div>
            <table class="table table-hover bg-warning table-bordered">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <th>Schedule id</th>
                        <th>Initiated Date</th>
                        <th>Departure Time</th>
                        <th>Truck id</th>
                        <th>assistant</th>
                        <th>Driver</th>
                        <th>Route</th>
                        <th>Trip Status</th>

                    </tr>
                    <% result.forEach(item=> { %>
                        <tr>
                            <td>
                                <%= item.schedule_id %>
                            </td>
                            <td>
                                <%= item.date %>
                            </td>
                            <td>
                                <%= item.departure_time %>
                            </td>
                            <td>
                                <%= item.truck_id %>
                            </td>
                            <td>
                                <%= item.assistant_name %>
                            </td>
                            <td>
                                <%= item.driver_name %>
                            </td>
                            <td>
                                <%= item.route_name %>
                            </td>
                            <td>
                                <% if(item.trip_fullfill_time< new Date().getTime()){ %>
                                    <%= item.trip_fullfill_time %>

                                        <span class="badge badge-success">
                                            <%= 'done' %>
                                        </span>
                                        <% } %>
                                            <% if(item.departure_time> new Date().getTime()){ %>

                                                <%= item.trip_fullfill_time %>

                                                    <span class="badge badge-light">

                                                        <%= 'pending' %>
                                                    </span>
                                                    <% } %>
                                                        <% if(item.departure_time< new Date().getTime() &&
                                                            item.trip_fullfill_time> new Date().getTime()){ %>

                                                            <%= item.trip_fullfill_time %>

                                                                <span class="badge badge-info">

                                                                    <%= 'in progress' %>
                                                                </span>
                                                                <% } %>

                            </td>

                        </tr>
                        <% }); %>

                </tbody>
            </table>


        </div>
    </div>
    <script>
        const logout = document.getElementById('logout')

        logout.addEventListener('click', () => {
            console.log('logout');
            try {

                fetch("/logout", {
                    method: "get",
                    mode: 'cors',
                    headers: { 'Content-Type': 'application/json' },

                }).then(response => {
                    return response.json()
                }).then(data => {
                    window.location.href = data.redirect;
                })

            } catch (e) {
                console.log(e)
            }
        })
    </script>





</body>

</html>